torch @ https://download.pytorch.org/whl/cu121/torch-2.2.1%2Bcu121-cp310-cp310-linux_x86_64.whl
tensordict==0.3.1
torchrl==0.3.1
gymnasium==0.29.1
torch-geometric==2.5.2
torchmetrics
hydra-core
hydra-colorlog
omegaconf
einops
ipykernel
pyLasaDataset
rliable
tqdm
wandb
torchtyping
pillow
matplotlib
